/* bacraund */
body{
    font: 16px / 28px arial,sans-serif;
    background-color: #eaeaea;
	background-image: url(img/gambar3.avif);
	
}

.container{
    width: 85%;
    height: 80%;
    margin: 60px auto;
    background-color:#faebd7;
	box-shadow:1px 1px 1px 1px;
	border-radius:5px;
    
}

/*text*/

.header{
	padding: 20px;
	padding-bottom: 5px;
    text-align: center;
}

.header .judul{

	font-size: 30px;
	padding: 10px;
	font-family:Verdana;
	font-weight: bold;
	color: #793005;
}

.header ul li {
	display: inline-block;
	margin-top: 20px ;
	margin-right: 10px;
}

.header a{

	text-decoration: none;
	color: black;
	padding: 3px;

}

.header a:hover{

	background-color:#793005;
	color: white;

}
.hero{
    height: 300px;
	background-image:url(img/onp2wkkl) ;
	background-size:cover;
	border-bottom: 5px solid rgb(118, 57, 13);
	border-top: 5px solid #bc5519 ;
	background-position:0px -210px ;
    margin: 50px 50px 50px;
	background-position: 0;
}

.content{
	padding: 20px; 
}
.content h2{
	font-size: 20px;
	font-weight:bold ;
	font-family: Verdana ;
}

.content .penulis{
	font-size: medium;
	font-size: 20px;
	margin-top: 1px;
	font-variant: small-caps;
	font-family: Verdana ;
	
}


.content p{
	margin-bottom: 20px;
	font-size: 14px ;
	text-align: justify;
	font-family: Verdana, Tahoma, sans-serif;
}

/*menu*/

.judul-menu{
	font-size: 20px ;
	margin: 50px 50px;
	font-weight: bold;
	font-family:Verdana;
	text-align: center;
	color: #793005;
}

.menu{
	width:710px;
	background-color: white;
	padding:30px;
	margin: auto;
	box-shadow: 0px 0px 1px 1px;
	border-radius:7px;
}

.list-menu li{
     width:120px;
	 height: 120px;
	 border-radius:50%;
	 border: 5px solid #666;
	 float: left ;
	 position: relative;
	 margin: 30px 75px 30px 30px;
}

.list-menu li span{
	display: block;
	width:120px;
	height: 120px;
	background-color: rgba(235, 228, 228, 0.5);
	color: black;
	border-radius: 50%;
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 120px;
	opacity: 0;
	transition: 0.3s;
	transform: scale(0) rotate(0);
}

.list-menu li img{
	border-radius:50% ;
	width:120px;
	height: 120px;
}

.list-menu li a:hover span{
	opacity: 1;
	transform: scale(1) rotate(360deg);
}

.clear{
	clear: both;
	
}

.kosong{
	width: 200px;
	height: 100px;
}

.list-menu li  p{
	padding: 5px;
	align-self: center;
}








