/* bacraund */
body{
    font: 16px / 28px arial,sans-serif;
    background-color: #eaeaea;
	background-image: url(img/gambar3.avif);
	
}

.container{
    width: 85%;
    height: 80%;
    margin: 60px auto;
    background-color:#faebd7;
	box-shadow:1px 1px 1px 1px;
	border-radius:5px;
    
}

/*text*/

.header{
	padding: 20px;
	padding-bottom: 5px;
    text-align: center;
}

.header .judul{

	font-size: 30px;
	padding: 10px;
	font-family:Verdana;
	font-weight: bold;
	color: #793005;
}

.header ul li {
	display: inline-block;
	margin-top: 20px ;
	margin-right: 10px;
}

.header a{

	text-decoration: none;
	color: black;
	padding: 3px;

}

.header a:hover{

	background-color:#793005;
	color: white;

}
.hero{
    height: 600px;
	background-image:url(img/onp2wkkl.png) ;
	background-size:cover;
	border-bottom: 5px solid rgb(118, 57, 13);
	border-top: 5px solid #bc5519 ;
	background-position:0px -210px ;
    margin: 50px 50px 50px;
	background-position: 0;
}

.content{
	padding: 20px; 
}
.content h2{
	font-size: 20px;
	font-weight:bold ;
	font-family: Verdana ;
}

.content .penulis{
	font-size: medium;
	font-size: 20px;
	margin-top: 1px;
	font-variant: small-caps;
	font-family: Verdana ;
	
}


.content p{
	margin-bottom: 20px;
	font-size: 14px ;
	text-align: justify;
	font-family: Verdana, Tahoma, sans-serif;
}

/*menu*/

.judul-menu{
	font-size: 20px ;
	margin: 50px 50px;
	padding: 50px;
	font-weight: bold;
	font-family:Verdana;
	text-align: center;
	color: #793005;
}


.menu1{
	width:200px;
	height: 250px;
	background-color:white;
	border-radius: 30px;
	padding: 50px;
	margin: 30px;
	box-shadow: 1px 1px 1px;
	margin-left: 100px;
	
}

.menu1 img{
	width: 240px;
	height: 220px;
	margin-left: -20px;
	margin-top: 5px;
}

.menu1 .des-menu1{
	margin: 5px;
	margin-left: -30px;
	padding: 5px;
}

.menu1 .des-menu1 input{
	width: 100px;
	margin: 0 0 0 150px;;
}

.menu1  h3{
	text-align: center;
	margin-top: -30px;
	font-size: 20px;
}

.kosong{
	height: 100px;
	
}

.menu{
	display: flex;
     margin: -50px 40px 40px -4 0px;
}








